.rgbc-users {
	display: flex;
	background: #fff;
	padding: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.rgbc-users__row {
	background: #e9e9e969;
	margin: 7px 0 7px 0;
	padding: 10px;
	width: 32%;
}

.rgbc-users__name {
	font-size: 17px;
	font-weight: 500;
}

.rgbc-users__email {
	font-size: 15px;
	font-weight: 300;
}