.rgbc-users {
    display: flex;
    background: #fff;
    padding: 20px;
    border: 1px solid #000;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rgbc-users__row {
    background: #d1e4dd;
    border: 1px solid;
}

.rgbc-users__email {
    font-size: 15px;
}